*{margin: 0; padding: 0; box-sizing: border-box;}

.navigation-menu-container{
    background-color: aquamarine;
    display: flex;
    align-items: center;
}

.logo{
    float: left;
    background-color: brown;
    margin: 10px;
}

.logo-i{
    width: 200px;
}

.navigation-menu{

}

.menu{
    display: flex;
    gap: 20px;
}

.menu li{
    list-style: none;
}

.menu li a{
    text-decoration: none;
}