/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
/*File Imports*/
@import url(./styles/header_style.css);
@import url(./styles/navBar_style.css);
@import url(./styles/first_section.css);
@import url(./styles/divisor_section.css);
/*Tailwindcss*/
@import "tailwindcss";
:root{
    --jdpblue: #00255b;
    --jdporange: #e67e22;
}

*{margin: 0; padding: 0; box-sizing: border-box;}

main{
    max-width: 100vw;
    padding-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}