nav{
    background: var(--jdporange);
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu{
    display: flex;
    gap: 30px;

}

.menu li{
    list-style: none;
}

.menu li a{
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 19px;
    color: white;
}

.menu li a:hover{
    color: black;
    font-weight: 500;
    transition: 300ms ease-in-out;

}